.custom-button {
    cursor: pointer;
    background: var(--text-orange);
    color: var(--text-secondary);
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    font-weight: bold;
    box-shadow: 3px 3px 5px #b1b1b1;
}