:root {
  --bg: #f7f7f7;
  --text-main: #3d3d3d;
  --text-secondary: #666666;
  --text-orange: rgb(250, 183, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
}

.delivery-app {
  position: relative;
  font-family: sans-serif;
  /* background: var(--bg); */
  height: 100%;
  margin: auto;
  width: 1536px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-app-container {
  /* padding: 0 50px;  */
  margin-top: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
  font-weight: bold;
}

select,
input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--text-orange);
  outline: none;
  border-radius: 10px;
  background: transparent;
}

@media (max-width: 1536px) {
  .delivery-app {
      width: 1366px;
  }
}
@media (max-width: 1366px) {
  .delivery-app {
      width: 1280px;
  }
}
@media (max-width: 1280px) {
  .delivery-app {
      width: 1024px;
      padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .delivery-app {
      width: 768px;
  }
}
@media (max-width: 768px) {
  .delivery-app {
      width: 640px;
  }
}
@media (max-width: 640px) {
  .delivery-app {
      width: 475px;
  }
}
@media (max-width: 475px) {
  .delivery-app {
      width: 380px;
  }
}